html{
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Montserrat;
}
body, #root{
  height: 100vh;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}
header{
  grid-area: header;
  background-color: rgb(214, 212, 212);
  color: black;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: rgb(214, 212, 212);
  color: black;
}